@import "../../colors.scss";

#home-container {
  //   background-image: url("https://res.cloudinary.com/ducxt7zb3/image/upload/v1652829579/SGISE_1_tzluke.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
