@import "../../colors.scss";

#register-form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
  }
  .register-form-input {
    width: 45em;
    height: 4em;
    border: none;
    border-bottom: 0.1em solid grey;
    font-size: 1.5em;
    padding: 0;
  }
  .register-form-input:focus {
    outline: none;
    border-bottom: 0.1em solid $primaryColor;
  }
  .register-form-button {
    height: 3em;
    width: 30%;
    align-self: flex-end;
    background-color: $primaryColor;
    border: none;
    border-radius: 0.5em;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
  }
}
